<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]="userCreationRequest.firstName"
               class="form-control"
               id="firstName"
               name="firstName"
               placeholder="Enter your firstName"
               required #firstName="ngModel">
      </div>
      <div [hidden]="!firstName.pristine" class="alert alert-danger">First Name is required</div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" [(ngModel)]="userCreationRequest.lastName"
               class="form-control"
               id="lastName"
               name="lastName"
               placeholder="Enter your last name"
               required #lastName="ngModel">
      </div>
      <div [hidden]="!lastName.pristine" class="alert alert-danger">First name is required</div>

      <button [disabled]="!userForm.form.valid"
              class="btn btn-info" id="addUser"
              type="submit">Add User
      </button>
    </form>
  </div>
</div>
